
@{
    ViewBag.Title = "SilaboPrueba";
    Layout = "~/Views/Shared/_LayoutSilabo.cshtml";
}

<h2 class="titulo2">Silabos del Curso</h2>


@foreach (var Divisiones in ViewBag.Divisiones)
{
    <button class="accordion">@Divisiones.Titulo</button>
    if (@Divisiones.Estado == 1)
    {
        <div class="panel">
            <div col-md-8d-flex>
                <a href="#"><img src="~/Img/Pencil.png" class="editar" /> </a>
            </div>
            <div class="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div>
                <div class="pie-Divisiones"> <span>@Divisiones.FechaModificacion </span><span>@Divisiones.Docentes </span>  </div>
            </div>
        </div>
    }
    else
    {
        <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    }
}

@*<button class="accordion">Section 2</button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <button class="accordion">Section 3</button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>*@


