
@{
    /**/

    ViewBag.Title = "Sumilla";
    Layout = "~/Views/Shared/_LayoutSilabo.cshtml";
}


@if (ViewBag.Sumilla.Estado == 0)
{
    <label class="text">@ViewBag.Sumilla.Contenido</label>
}
else
{
    <textarea class="text">@ViewBag.Sumilla.Contenido</textarea>
}
