<body>
        <header>
            <title>_LayoutSilabo</title>
            <link type="text/css" href="~/Styles/General.css" rel="stylesheet" />
            <script type="text/html" src="~/Scripts/jquery-1.10.2.min.js"></script>
         </header>
        <section>
            @RenderBody()
        </section>
</body>