<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Styles/General.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div>
            <div>
                <a>
                    <img src="~/Img/logoUcsm.png" width="183" height="67" alt="ucsm">
                </a>
                <a>
                    <img src="~/Img/person.png" width="67" height="67" alt="ucsm">
                </a>
            </div>
        </div>
    </div>
    <hr />
    <p>
        fasd
    </p>
    <section>
        @RenderBody()
    </section>
</body>
</html>