@model Silabus.Models.SilaboDivicion


@if (Model.Divicion.Estado == 1)
{
    <ul>
        @foreach (var competencia in Model.Silabo.Asignaturas.AsignaturaCompetencias)
        {
            <li>@competencia.Competencia.Descripcion</li>
        }
    </ul>


}
else
{
    <ul>
        @foreach (var competencia in Model.Silabo.Asignaturas.AsignaturaCompetencias)
        {
            <li>
                @competencia.Competencia.Descripcion
            @*<select>
                @foreach (var fase in ViewBag.Fases)
                {
                    <option>@fase.Descripcion</option>
                }
            </select>*@
        </li>
    }
    </ul>
}
