@model Silabus.Models.SilaboDivisiones


@if (Model.Divisiones.Estado == 1)
{
    <ul>
        @foreach (var competencia in Model.Silabos.Asignaturas.AsignaturaCompetencias)
        {
            <li>@competencia.Competencia.Descripcion</li>
        }
    </ul>


}
else
{
    <ul>
        @*@foreach (var competencia in Model.Silabos.Asignaturas.AsignaturaCompetencias)
        {
        <li>
            @competencia.Competencia.Descripcion
            <select>
            @foreach (var fase in Model.Silabos.Asignaturas.Fases)
            {
                <option>@fase.Nombre</option>
            }
            </select>
        </li>*@
    }
    </ul>
}
