@model IEnumerable<Silabus.Models.Divicion>

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSilabo.cshtml";
}

@foreach (var item in Model)
{
    <button class="accordion">@Html.DisplayFor(modelItem => item.Titulo)</button>
    if (item.Estado >= 1)
    {
        <div class="container-fluid">
            <div class="row">
                @if (item.Estado == 1)
                {
                    <button class="col-md-offset-11 btn btn-default btn-sm" type="button" onclick="location.href='@Url.Action("Edit", new { Id = item.Id })'">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                }
                else
                {
                    <div>
                        <button class="col-md-offset-11 btn btn-default btn-sm" type="button" onclick="location.href='@Url.Action("EditOk", new { Id = item.Id })'">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        <button class="col-md-offset-11 btn btn-default btn-sm" type="button" onclick="location.href='@Url.Action("EditCancel", new { Id = item.Id })'">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    }

}