html, body {
    margin: 0;
    font-size: 20px;
    
}
.header-main {
    overflow: auto;
    background: #7abb3b;
    width: 100%;
}
.header-menu {
    width:100%;
    background: #426e17;
    overflow: auto;
}
.left-img {
    float: left;
    width: 183px;
    height: 67px;
}
.right-img {
    float: right;
    width: 67px;
    height: 67px;
}
.menu {
    float: left;
    width: 10%;
    height: 100%;
}
.menu-item {
    width:100%;
    float:left;
}
.cuerpo{
    float:left;
    width: 75%;
    height: 100%;
    overflow: auto;
}

.cuerpo-div{
    overflow:auto;
}

.borde {
    border-style: solid;
    border-width: 2px;
}

.accordion {
    float: left;
    background-color: #f2fde8;
    color: #808080;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    padding-top: 15px;
    padding-bottom: 15px;
}

.active, .accordion:hover {
    background-color: #bad3a3;
    color: black;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.pie-Divisiones{
    float: right;
}


.editar {
    cursor: pointer;
    float: right;
    width: 5%;
    height: 5%;
}
.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.titulo2{
    text-align: center;
}



.titulo {
    display: table;
    width: 100%;
    height: 5%;
}

.universidad {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

.escudo {
    display: table-cell;
    width: 20%;
    height: 100%;
}


.td.container {
    height: 20px;
}



.tablaEscudo {
    height: 100px;
    width: 30%;
}


.tablaBorderRow {
    border-collapse: collapse;
    width: 100%;
}

.tablaBorderRow tr {
    border: solid;
    border-width: 1px;
    margin: 15px;
}

.tablaBorderContorno {
    border: 1px solid black;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tablaBorderTd {
    border-collapse: collapse;
}

.tablaBorderTd .tituloRow {
    border: 1px solid black;
    text-align: center;
}

.tablaBorderTd .Divisiones {
    border: 1px solid black;
    text-align: left;
    padding-left: 10%;
    background-color: darkgray;
}

.tablaBorderTd .sinRowSpan{
    border-left: 1px solid black;
}

.tablaBorderTd .DivisionDos {
    border: 1px solid black;
    text-align: left;
}

.tablaBorderTd tr .sinRowSpanF {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.tablaBorderTd .rowSpan {
    width: 15%;
    vertical-align: middle;
    text-align: center;
    border: 1px solid black;
}
.tablaCreditos {
    vertical-align: middle;
    text-align: center;
    background-color: gainsboro;
}

.tablaCreditos td {
    border: 1px solid black;
}

.tablaCreditosRespuesta td{
    vertical-align: middle;
    text-align: center;
    border: 1px solid black;
}

.text{
    width : 95%;
}


.tablaBorderUnidad {
    border-collapse: collapse;
    width: 100%;
}

.tablaBorderUnidad td{
    border: 1px solid black;
    text-align: center;
}

.tablaBorderUnidad tr td:nth-last-child(2) {
    border: 1px solid black;
    text-align: left;
}

.tablaBorderUnidad th {
    border: 1px solid black;
    text-align: center;
}

.editar-div {
    float: right ;
    display: block;
}


table th {
    vertical-align: middle !important;
}

.margin-top-1{
    margin-top: 1.2em;
}

.padding-top-5 {
    padding-top: 5em;
}

textarea {
    width: 100%;
    min-width: 100%;
    height: 10em;
}
/*#left {
    width: 20%;
    height: 100%;
    position: fixed;
    outline: 1px solid;
    background: red;
}

#right {
    width: 80%;
    height: auto;
    outline: 1px solid;
    position: absolute;
    right: 0;
    background: blue;
}*/
